body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 100px;
  background: #e81f1f;
}

.navbar-toggle .icon-bar {
  background: #e81f1f;
  display: block;
  width: 30px;
  height: 4px;
  border-radius: 1px;
}

#logo {
  width: 500px;
  height: auto;
}

.navbar {
  min-height: 100px;
}

.navbar-fixed-top {
  background: #fff;
}

.navbar-fixed-top .navbar-brand {
  padding: 25px 15px;
}

.navbar-fixed-top .nav {
  padding: 25px 0;
}

.nav li a {
  font-size: 1.15em;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}

#work-link {
  background: #e81f1f;
  color: #ffffff;
  border-radius: 8px;
  margin-left: 10px;
}
.jumbotron h1 {
  font-weight: 700;
  color: #ffffff;
  font-size: 80px;
}
.jumbotron p {
  font-weight: light;
  font-size: 24px;
  color: #ffffff;
}
.jumbotron {
  background: #e81f1f;
  align-items: center;
  background: url('./assets/img/JHD-collage.png') no-repeat bottom right;
  background-size: contain;
  display: -webkit-flex;
  display: flex;
  height: 900px;
  width: 100%;
}
