body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 100px;
  background: #e81f1f;
}

h1 {
  font-weight: 700;
  font-size: 5em;
  color: #fff;
}

p {
  font-size: 24px;
  line-height: 1.5;
  color: #000;
  font-weight: 300;
  margin: 0 0 15px;
}

.navbar-toggle .icon-bar {
  background: #e81f1f;
  display: block;
  width: 30px;
  height: 4px;
  border-radius: 1px;
}

#logo {
  width: 497px;
  height: 47px;
}

.navbar {
  min-height: 100px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.18);
}

.navbar-fixed-top {
  background: #fff;
}

.navbar-fixed-top .navbar-brand {
  padding: 25px 15px;
}

.navbar-fixed-top .nav {
  padding: 25px 0;
}

.nav li a {
  font-size: 1.15em;
  color: black;
  text-transform: uppercase;
}
.nav li a:hover {
  background: none;
  color: #e81f1f;
  cursor: pointer;
}
#work-link {
  background: #e81f1f;
  color: #ffffff;
  border-radius: 8px;
  margin-left: 10px;
}
#work-link:hover {
  background: #000;
}
.jumbotron h1 {
  font-weight: 700;
  color: #ffffff;
  font-size: 5em;
  margin-bottom: 20px;
}
.jumbotron p {
  font-weight: 300;
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 30px;
}
.jumbotron {
  background: #e81f1f;
  align-items: center;
  background: -moz-linear-gradient(left, rgba(232,31,31,1) 0%, rgba(0,15,255,0) 100%), url('./assets/img/JHD-collage.png') no-repeat bottom right; /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(232,31,31,1) 0%,rgba(0,15,255,0) 100%), url('./assets/img/JHD-collage.png') no-repeat bottom right; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(232,31,31,1) 0%,rgba(0,15,255,0) 100%), url('./assets/img/JHD-collage.png') no-repeat bottom right; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e81f1f', endColorstr='#00000fff',GradientType=1 ); /* IE6-9 */
  background-size: contain;
  display: -webkit-flex;
  display: flex;
  height: 800px;
  width: 100%;
  margin-bottom: 0px;
}
.jumbotron .btn {
  color: #e81f1f;
  background: #fff;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 22px;
  padding: 10px;
  font-weight: 700;
  background-image: url('./assets/img/EYE.svg');
  background-position: 10px 12px !important;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  padding-left: 50px;
  box-shadow:rgba(0, 0, 0, 0.2) 0 16px 16px 0;
  -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0 16px 16px 0;
  -moz-box-shadow:rgba(0, 0, 0, 0.2) 0 16px 16px 0;
}

.jumbotron .btn:hover {
  box-shadow:rgba(0, 0, 0, 0.2) 0 8px 8px 0;
  -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0 8px 8px 0;
  -moz-box-shadow:rgba(0, 0, 0, 0.2) 0 8px 8px 0;
  opacity: 0.9;
}

.content-copy {
  text-align: left;
  top: -90px;
}

.office-image {
  width: 100%;
}

/*about us page styles*/
.red.container {
  width: 100%;
  padding: 0;
}
.about-us p {
  color: #fff;
}
.about-us .intro {
  margin-bottom: 50px;
}

.about-us .bio {
  background: #000;
  padding: 20px 30px;
}
.side-img {
  padding: 0px;
}

.jeff-photo {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}


/*footer styles*/

.footer-tagline {
  color: #e81f1f;
  font-size: 50px;
  font-weight: 400;
  line-height: 1;
}

footer {
  background: #fff;
  padding: 30px 0;
}
footer .contact-details {
  font-size: 26px;
  margin-bottom: 30px;
}
#contact-links {
  font-size: 24px;
  font-weight: 300;
}
#address {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 30px;
}





/*Media Queries*/
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .content-copy {
    margin: auto;
    padding-bottom: 75px;
    text-align: center;
    width: 100%;
    top: 0px;
  }
  #logo {
    width: 350px;
    height: auto;
  }
  .jumbotron {
    height: auto;
    background: none;
  }
  .jumbotron {
    background: -moz-linear-gradient(bottom, rgba(232,31,31,1) 0%, rgba(0,15,255,0) 100%), url('./assets/img/collage-mobile3.jpg') no-repeat bottom center; /* FF3.6-15 */
    background: -webkit-linear-gradient(bottom, rgba(232,31,31,1) 0%,rgba(0,15,255,0) 100%), url('./assets/img/collage-mobile3.jpg') no-repeat bottom center; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to top, rgba(232,31,31,1) 0%,rgba(0,15,255,0) 100%), url('./assets/img/collage-mobile3.jpg') no-repeat bottom center; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .jumbotron {
    background-position: 0px 300px;
  }
  .jumbotron h1 {
    font-size: 3em;
  }
  .jumbotron p {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    color: #ffffff;

  }
  #logo {
    width: 275px;
    height: auto;
  }
  .navbar {
    min-height: 60px;
  }
  .navbar-fixed-top .navbar-brand {
    padding: 15px 15px;
  }
  .content {
    padding: 0 20px;
  }
  .content-copy {
    top: -65px;
  }
  body {
    padding-top: 60px;
  }
  h1 {
    font-size: 3em;
  }
  p {
    font-size: 18px;
  }
}
