    body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 100px;
    background: #e81f1f;
}

h1 {
    font-weight: 700;
    font-size: 5em;
    color: #fff;
}

a {
    color: #e81f1f;
    text-decoration: underline;
}

p {
    font-size: 24px;
    line-height: 1.5;
    color: #000;
    font-weight: 300;
    margin: 0 0 15px;
}

.navbar-toggle .icon-bar {
    background: #e81f1f;
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 1px;
}

#logo {
    width: 423px;
    height: 40px;
}

.navbar {
    min-height: 100px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.09);
}

.navbar-fixed-top {
    background: #fff;
}

.navbar-fixed-top .navbar-brand {
    padding: 33px 15px;
}

.navbar-fixed-top .nav {
    padding: 25px 0;
}

.nav li a {
    font-size: 1.15em;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

.nav li a:hover {
    background: none;
    color: #e81f1f;
    cursor: pointer;
}

.sliding-middle-out {
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
}

.sliding-middle-out:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.sliding-middle-out:hover:after {
    width: 100%;
    background: #e81f1f;
}


/*nav icon hamburger menu animation*/

#nav-icon {
    width: 44px;
    height: 44px;
    position: relative;
    margin: 0px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #e81f1f;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
    top: 5px;
}

#nav-icon span:nth-child(2) {
    top: 19px;
}

#nav-icon span:nth-child(3) {
    top: 33px;
}

#nav-icon.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#nav-icon.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

#work-link {
    background: #e81f1f;
    color: #ffffff;
    border-radius: 8px;
    margin-left: 10px;
}

#work-link:hover {
    background: #000;
}

.jumbotron h1 {
    font-weight: 700;
    color: #ffffff;
    font-size: 5em;
    margin-bottom: 20px;
}

.jumbotron p {
    font-weight: 300;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 30px;
}

.jumbotron {
    background: #e81f1f;
    align-items: center;
    background: url('./assets/img/JHD-collage.png') no-repeat bottom right;
    /* FF3.6-15 */
    background-size: contain;
    display: -webkit-flex;
    display: flex;
    height: 800px;
    width: 100%;
    margin-bottom: 0px;
}

.jumbotron .btn {
    color: #e81f1f;
    background: #fff;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 22px;
    padding: 10px;
    font-weight: 700;
    background-image: url('./assets/img/EYE.svg');
    background-position: 10px 12px !important;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    padding-left: 50px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 16px 16px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 16px 16px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 16px 16px 0;
}

.jumbotron .btn:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0 8px 8px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 8px 8px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 8px 8px 0;
    opacity: 0.9;
}

.content-copy {
    text-align: left;
    top: -90px;
}


/*about us page styles*/

.red.container {
    width: 100%;
    padding: 0;
}

.about-us p {
    color: #fff;
}

.about-us .intro {
    margin-bottom: 50px;
}

.about-us .bio {
    background: #000;
    padding: 20px 30px;
}

.tshirt-section {
    padding: 20px;
    width: 75%;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tshirt-wrapper {
    float: left;
    max-width: 900px;
}

.tshirt-section h3 {
    font-size: 35px;
    font-weight: 300;
    margin-top: 0px;
    color: #ffffff;
    line-height: 1.25;
}

.tshirt-image {
    height: 200px;
    width: 200px;
    display: inline-block;
    float: right;
    margin: 0px 20px;
}

.tshirt-image img {
    height: 100%;
    width: 100%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.tshirt-image img:hover {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    cursor: pointer;
}

.tshirt-copy {
    padding: 20px 0px;
}

.tshirt-copy a {
    color: #fff;
    text-decoration: none;
}

.side-img {
    padding: 0px;
}

.popup-slides {
    display: none;
}

.jeff-photo {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}
.well {
  min-height: 20px;
  padding: 0px;
  margin-bottom: 20px;
  border: 3px solid #ffffff;
  border-radius: 0px;
}
.carousel-inner img {
  width: 100%;
  height auto;
}


/*image gallery pop up*/

.modal.and.carousel {
    position: absolute; // Needed because the carousel overrides the position property
}


/*Portfolio Page*/

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.flex-row>[class*='col-'] {
    display: flex;
    flex-direction: column;
}

.flex-row .thumbnail, .flex-row .caption {
    flex-direction: column;
    display: flex;
    flex: 1 0 auto;
    height: auto;
    position: relative;
}

.flex-text {
    flex-grow: 1;
}

.flex-row img {
    min-width: 0;
    width: 100%;
}

.portfolio {
    padding: 50px 0 0px;
}

.portfolio p {
    color: #fff;
}

.page-title {
    margin-bottom: 20px;
}

.page-title p {
  color: #ffffff;
}

.thumbnail-image {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.thumbnail-image:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}

.thumbnail {
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: transparent;
    border: none;
    border-radius: 0px;
}

.portfolio .row {
    margin-left: 0px;
    margin-right: 0px;
}

.card-title {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}

.card-title:hover {
    cursor: pointer;
}

.card {
    margin-bottom: 30px;
}

.brochures {
    background: #000;
    padding-bottom: 60px;
    padding-top: 35px;
    margin-top: 40px;
}

.brochures h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.publication {
    margin: 0 auto;
    border: 3px solid white;
    opacity: 1;
    transition: .5s ease;
}

.publication:hover {
    cursor: pointer;
    border: 3px solid #e81f1f;
}

/*Logos Page*/
.content-wrapper {
  padding: 50px 0;
}
.btn-group>.btn:not(:last-child) {
  width: calc(100% / 6);
}
.btn-group>.btn:last-child {
  width: calc(100% / 6 + 5px);
}
.btn-group {
  width: 100%;
}
.btn-group a {
  text-decoration: none;
}
.btn-default {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}
.btn-default.active {
    background-color: #ffffff;
    border-color: #efefef;
}
.btn-default:hover {
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}
.btn-group>.btn:last-child:not(:first-child):not(.dropdown-toggle) {
  border-radius: 0;
}
.btn.active {
  box-shadow: none;
}
.project-buttons .btn {
  padding: 20px 12px;
  font-size: 1.2em;
  text-transform: uppercase;
}

/*Contact Us Page*/

.contact-us {
    padding: 40px 0 50px;
}

.contact-us p {
    color: #fff;
}

.office-image {
    width: 100%;
}

.social-icons ul {
    list-style: none;
    padding-left: 0px;
    margin-top: 40px;
}

.social-icons ul li {
    display: inline-block;
    padding: 0px 50px 0px 0px;
}

.social-icons i {
    color: #ffffff;
    font-size: 80px;
    transition: .5s ease;
}

.social-icons i:hover {
    color: #000;
}

/*Project Page Styles*/
.project-page {
  background: #efefef;
}
.project-page .page-title h1 {
  color: #000000;
  font-size: 3em;
  line-height: 1.25;
}
.project-container {
  background: #ffffff;
  border: 1px solid #ccc;
}
.project-details p {
  margin-bottom: 10px;
}
.project-details strong {
  text-transform: uppercase;
}
.project-content {
  padding: 30px 0px;
}
.project-content img {
  margin: 0 auto 40px;
  display: block;
}
.full-width-img {
  width: 100%;
  height: auto;
}
.half-width-img {
  width: 100%;
  display: inline-block;
}
.half-width-img img:nth-child(2n+1) {
  float: left;
  width: 49%;
}
.half-width-img img:nth-child(2n) {
  float: right;
  width: 49%;
}



/*footer styles*/

.footer-tagline {
    color: #e81f1f;
    font-size: 50px;
    font-weight: 400;
    line-height: 1;
}

footer {
    background: #fff;
    padding: 30px 0;
}

footer .contact-details {
    font-size: 26px;
    margin-bottom: 30px;
}

#contact-links {
    font-size: 24px;
    font-weight: 300;
}

#address {
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 30px;
}


/*Media Queries*/


/* Medium Devices, Desktops */

@media only screen and (max-width: 1190px) {
    .jumbotron {
        background: -moz-linear-gradient(to right, rgba(232, 31, 31, 1) 0%, rgba(232, 31, 31, 0) 100%), url('./assets/img/JHD-collage.png') no-repeat bottom right;
        /* FF3.6-15 */
        background: -webkit-linear-gradient(to right, rgba(232, 31, 31, 1) 0%, rgba(232, 31, 31, 0) 100%), url('./assets/img/JHD-collage.png') no-repeat bottom right;
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(232, 31, 31, 1) 0%, rgba(232, 31, 31, 0) 100%), url('./assets/img/JHD-collage.png') no-repeat bottom right;
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    @media only screen and (max-width: 992px) {
        .content-copy {
            margin: auto;
            padding-bottom: 75px;
            text-align: center;
            width: 100%;
            top: 0px;
        }
        #logo {
            width: 350px;
            height: auto;
        }
        .jumbotron {
            height: auto;
            background: none;
        }
        .jumbotron {
            background: -moz-linear-gradient(bottom, rgba(232, 31, 31, 1) 0%, rgba(232, 31, 31, 0) 100%), url('./assets/img/collage-mobile3.jpg') no-repeat bottom center;
            /* FF3.6-15 */
            background: -webkit-linear-gradient(bottom, rgba(232, 31, 31, 1) 0%, rgba(232, 31, 31, 0) 100%), url('./assets/img/collage-mobile3.jpg') no-repeat bottom center;
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to top, rgba(232, 31, 31, 1) 0%, rgba(232, 31, 31, 0) 100%), url('./assets/img/collage-mobile3.jpg') no-repeat bottom center;
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        }
    }
    @media only screen and (max-width: 920px) {
        body {
            padding-top: 60px;
        }
        .navbar {
            min-height: 60px;
        }
        .navbar-fixed-top .nav {
            margin-top: 0px;
        }
        .navbar-fixed-top .navbar-brand {
            padding: 15px 15px;
        }
        .navbar-header {
            float: none;
        }
        .navbar-fixed-top .nav {
            background: #000;
        }
        .navbar-left, .navbar-right {
            float: none !important;
        }
        .navbar-toggle {
            display: block;
            position: relative;
            float: right;
            padding: 7px 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            background-color: transparent;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }
        .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        }
        .navbar-fixed-top {
            top: 0;
            border-width: 0px;
        }
        .navbar-collapse.collapse {
            display: none!important;
        }
        .navbar-nav {
            float: none!important;
            margin-top: 7.5px;
            text-align: center;
            font-size: 20px;
        }
        .nav li a {
            color: #fff;
        }
        .navbar-nav>li {
            float: none;
        }
        .navbar-nav>li>a {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .collapse.in {
            display: block !important;
            background: #000;
            margin-left: -15px;
            margin-right: -15px;
        }
        #work-link {
            display: inline-block;
            display: inline-block;
            margin-top: 10px;
            padding: 20px 80px;
            margin-left: 0px;
        }
        .navbar-fixed-top .nav {
            padding: 15px 0 30px;
        }
        .sliding-middle-out {
            display: inline-block;
            position: relative;
            padding-bottom: 5px;
        }
        .sliding-middle-out:after {
            content: '';
            display: block;
            margin: auto;
            height: 0px;
            width: 0px;
            background: transparent;
            transition: none;
        }
        .sliding-middle-out:hover:after {
            width: 100%;
            background: transparent;
        }
        .tshirt-section {
            padding: 20px;
            width: 100%;
            float: left;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .tshirt-wrapper {
            max-width: 100%;
        }
        .project-buttons .btn {
          padding: 20px 5px;
          font-size: 1em;
        }
    }
    /* Small Devices, Tablets */
    @media only screen and (max-width: 768px) {
        #work-link {
            width: 60%;
            margin-left: 0px;
        }
        .brochure-title h3 {
            font-size: 24px;
        }
        .navbar-toggle {
            margin-right: 15px;
        }
        .tshirt-image {
            height: auto;
            width: 100%;
            display: block;
            float: right;
            margin: 0px 0px 20px;
        }
        .tshirt-image img {
            height: 40%;
            width: 40%;
            display: block;
            margin: 0 auto;
        }
        .tshirt-copy {
            padding: 0px;
        }
        .btn-group>.btn:not(:last-child) {
          width: calc(100% / 3);
        }
        .btn-group>.btn:last-child {
          width: calc(100% / 3 + 3px);
        }
        .btn-group>.btn:nth-child(3) {
          width: calc(100% / 3 + 2px);
        }
        .project-buttons .btn {
          padding: 15px 10px;
          font-size: .75em;
        }
        .project-content img {
          margin: 0 auto 20px;
          display: block;
        }
    }
    /* Extra Small Devices, Phones */
    @media only screen and (max-width: 480px) {
        .jumbotron {
            background-position: 0px 300px;
        }
        .jumbotron h1 {
            font-size: 3em;
        }
        .jumbotron p {
            font-weight: 300;
            font-size: 20px;
            line-height: 1.5;
            color: #ffffff;
        }
        #logo {
            width: 260px;
            height: auto;
        }
        .navbar {
            min-height: 60px;
        }
        .navbar-fixed-top .navbar-brand {
            padding: 20px 15px;
        }
        .content {
            padding: 0 20px;
        }
        .content-copy {
            top: -35px;
        }
        body {
            padding-top: 60px;
        }
        h1 {
            font-size: 3em;
        }
        p {
            font-size: 18px;
        }
        .footer-tagline {
            font-size: 32px;
        }
        footer .contact-details {
            font-size: 20px;
        }
        footer #contact-links {
            font-size: 20px;
        }
        .container {
            padding-left: 0px;
            padding-right: 0px;
        }
        .about-us .bio {
            background: #000;
            padding: 20px;
        }
        .one-line {
            white-space: nowrap;
        }
        .card {
            margin-bottom: 30px;
        }
        .portfolio {
            padding: 20px 0 0px;
        }
        .flex-row>[class*='col-'] {
            width: 100%;
        }
        .flex-row {
            padding-left: 0px;
            padding-right: 0px;
        }
        #work-link {
            width: 90%;
            margin-left: 0px;
        }
        .card-title {
            font-size: 18px;
        }
        .contact-us-area p {
            font-size: 28px;
        }
        .social-icons ul li {
            display: inline-block;
            padding: 0px 40px 0px 0px;
        }
        .social-icons i {
            color: #ffffff;
            font-size: 60px;
            transition: .5s ease;
        }
        .contact-us {
            padding: 20px 0 30px;
        }
        .flex-row>[class*='col-'] {
            width: 50%;
        }
        .portfolio .col-md-4:nth-child(2n+1) {
            padding-right: 5px;
        }
        .portfolio .col-md-4:nth-child(2n) {
            padding-left: 5px;
        }
        .flex-row .col-md-4:nth-child(2n+1) {
            padding-right: 5px;
        }
        .flex-row .col-md-4:nth-child(2n) {
            padding-left: 5px;
        }
        .brochures .col-md-3:nth-child(2n+1) {
            padding-right: 5px;
        }
        .brochures .col-md-3:nth-child(2n) {
            padding-left: 5px;
        }
        .thumbnail {
            margin-bottom: 5px;
        }
        .tshirt-image img {
            height: 50%;
            width: 50%;
            display: block;
            margin: 0 auto;
        }
        .content-wrapper {
          padding: 30px 0;
        }
        .tshirt-copy h3 {
          font-size: 2em;
          line-height: 1.25;
        }
        .project-page .page-title h1 {
          font-size: 2em;
        }
        .project-container {
          background: #ffffff;
          border-top: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          border-left: none;
          border-right: none;
        }
    }
    @media only screen and (max-width: 320px) {
        .jumbotron h1 {
            font-size: 2.5em;
        }
        h1 {
            font-size: 2.5em;
        }
        .navbar-toggle {
            margin-right: 10px;
        }
        #logo {
            width: 225px;
            height: auto;
        }
    }
